::ng-deep .p-dataview {
   position: inherit !important; 
}

.avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.small-text {
    font-size: small
}

@media only screen and (min-width: 1824px) {
    .searchInput, .searchSuggestions {
        width: 75%;
    }
}

@media (max-width: 640px) {
    .searchInput, .searchSuggestions {
        width: 95%;
    }
}

@media (min-width: 1008px) {
    .searchInput, .searchSuggestions {
        width: 75%;
    }
}